@font-face{
	font-family:'Sora-Bold';
	src:url(../fonts/Sora-Bold.ttf);
}

@font-face{
	font-family:'Sora-Regular';
	src:url(../fonts/Sora-Regular.ttf);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#clone{ font-family:Sora-Bold; border-bottom:3px red solid; font-size:26px; }
	
	body{
		width:100vw; height:100vh; overflow-x:hidden; overflow-y:scroll; margin:0; padding:0;
		display:flex; flex-direction:column; justify-content:flex-start; align-items:center; 
		box-sizing:border-box; background-color:#E5E5E5;
	}

	nav{
		position:fixed; top:0; left:0; z-index:10;
		width:100vw; height:auto; overflow-x:hidden; overflow-y:hidden; margin:0; padding:15px 40px;
		display:flex; flex-direction:row; justify-content:space-between; align-items:center; 
		box-sizing:border-box; background-color:white;
	}

	#logo{
		height:60px; width:auto;
	}

	#navcontainer{
		position:fixed; left:100vw; top:0; width:60vw; height:100vh; box-sizing:border-box;
		display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; 
		background-color:#623981; padding:60px 40px 0px 50px; transition-duration:0.25s;
	}

	#navmenu { width:30px; height:30px; }
	#closediv{ width:100%; display:flex; flex-direction:row; justify-content:flex-end; margin-bottom:40px; }
	#navclose{ width:20px; height:20px; }

	.navtab{
		font-family:Sora-Bold; font-size:30px; line-height:44px;
		border-radius:50px; padding:20px; color:white;
	}

	.activetab{ 
		font-family:Sora-Bold; font-size:30px; color:white;
		border-radius:50px; padding:20px; line-height:44px;
	}

	#about1{
		width:100vw; height:auto; box-sizing:border-box;
		display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:180px 40px 50px 40px;
	}

	.abouth1{ width:48%; font-family:Sora-Bold; font-size:50px; line-height:70px; box-sizing:border-box; }
	.aboutp1{ width:48%; font-family:Sora-Regular; font-size:19px; line-height:28px; box-sizing:border-box; color:#595959; }

	#aboutimg{
		min-height:520px; max-height:520px; width:100vw; box-sizing:border-box; object-fit:cover;
	}

	#hr{
		width:90%; background-color:black; height:0px; border:none; border-bottom:0.5px black solid; margin:70px 80px;
	}

	#about2, #about3{
		width:100vw; height:auto; box-sizing:border-box;
		display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start; padding:50px 40px 50px 40px;
	}

	#about2right{
		display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start;
		width:48%; box-sizing:border-box;
	}

	.aboutp2{ font-family:Sora-Bold; font-size:20px; line-height:35px; box-sizing:border-box; color:#000000;  }
	.aboutp3{ font-family:Sora-Regular; font-size:18px; line-height:35px; box-sizing:border-box; color:#595959; }
	.aboutp4{ width:48%; font-family:Sora-Bold; font-size:20px; line-height:35px; box-sizing:border-box; color:#000000;  }

	#about4{
		width:100%; padding:30px 40px; box-sizing:border-box;
		display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start; 
	}

	.about4child{
		display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start;
		width:48%; box-sizing:border-box;
	}

	.abouth2{
		font-family:Sora-Bold; font-size:20px; line-height:70px; box-sizing:border-box; margin-bottom:30px;
	}

	.aboutp5{
		width:320px; font-family:Sora-Regular; font-size:16px; line-height:24px; box-sizing:border-box; color:#595959;
	}

	#about5{
		display:flex; flex-direction:row; align-items:center; justify-content:space-around;
		width:100%; padding:40px 80px 70px 80px; box-sizing:border-box;
	}

	.about5child{
		display:flex; flex-direction:column; justify-content:space-around; align-items:center;
	}

	.abouth3{ font-family:Sora-Bold; font-size:55px; margin-bottom:20px; }
	.aboutp6{ font-family:Sora-Regular; font-size:26px; }

	#home4{ 
		height:auto; width:100vw; background-color:#623981; box-sizing:border-box;
		display:flex; flex-direction:row; align-items:center; justify-content:space-between;
		display:flex; padding:100px 40px;
	}

	#home4img{ 
		min-width:300px; min-height:250px; max-width:300px; max-height:250px;
	}

	#home4right{
		width:45vw; box-sizing:border-box; color:white;
	}

	.home4header{
		font-family:Sora-Bold; font-size:42px; line-height:70px; margin-bottom:20px;
	}

	.home4text{
		font-family:Sora-Bold; font-size:22px; line-height:35px;
		width:100%; text-align:left; margin-bottom:30px;
	}

	.h4textemph{ display:inline-block; vertical-align:middle; font-family:Sora-Regular; color:#F6C046; }

	#socialscontainer, #footercontact{
		display:flex; flex-direction:row; align-items:center; justify-content:space-between;
		width:150px;
	}

	.contactsocials, .footersocials{ width:20px; height:auto; }

	footer{
		width:100vw; height:auto; display:flex; flex-direction:column; color:white; padding:80px 40px 50px 40px;
		align-items:center; justify-content:space-between; background-color:black; box-sizing:border-box;
	}

	#footertop{
		width:100%; box-sizing:border-box;
		display:flex; flex-direction:row; align-items:flex-start; justify-content:space-between;
	}

	.footercol{
		width:23%;
	}

	.footersec{ margin-bottom:50px; }

	.footerhead{
		font-family:Sora-Bold; font-size:20px; margin-bottom:40px;
	}

	.footerel{
		font-family:Sora-Regular; margin-bottom:30px;
	}

	#footerbtm{
		width:100%; margin-top:70px;
		display:flex; flex-direction:row; align-items:center; justify-content:space-between;
	}

	#copyright{
		font-family:'Sora-Bold';
	}

	#footercontact{
		margin-right:150px
	}

}